<div class="col-md-12" *ngIf="page_title">
  <h2>{{page_title}}</h2>

  <div class="alert alert-success" *ngIf="status_car == 'success'" role="alert">
    <strong>Felicidades! </strong> {{message}}
  </div>

  <div class="alert alert-danger" *ngIf="status_car == 'error'" role="alert">
    <strong>Existe un error al momento de crear el coche: </strong>
    <ul>
      <li *ngIf="error_title">{{error_title}}</li>
      <li *ngIf="error_description">{{error_description}}</li>
      <li *ngIf="error_price">{{error_price}}</li>
    </ul>
  </div>

  <form #carNew="ngForm" (ngSubmit)="onSubmit(carNew)" class="col-md-5" *ngIf="car">
    <p>
      <label for="title">Titulo</label>
      <input class="form-control" type="text" name="title" #title="ngModel" [(ngModel)]="car.title" required>
      <span *ngIf="!title.valid && title.touched"> El titulo no es valido</span>
    </p>

    <p>
      <label for="description">Description</label>
      <textarea class="form-control"  name="description" #description="ngModel" [(ngModel)]="car.description" required></textarea>
      <span *ngIf="!description.valid && description.touched"> La descripción no es valida</span>
    </p>

    <p>
      <label for="price">Precio</label>
      <input class="form-control" type="text" name="price" #price="ngModel" [(ngModel)]="car.price" required>
      <span *ngIf="!price.valid && price.touched"> El precio no es valido</span>
    </p>

    <p>
      <label for="status">¿A la venta?</label>
      <select name="status" id="" #status="ngModel" [(ngModel)]="car.status" class="form-control" required>
        <option value="true" selected="selected">Si</option>
        <option value="false">No</option>
      </select>
    </p>

    <!-- boton -->

    <input type="submit" value="Guardar" class="btn btn-success" [disabled]="!carNew.form.valid">

  </form>
</div>
