<div class="col-md-12">
  <h2>{{title}}</h2>

  <div class="alert alert-success" *ngIf="status == 'success' ">
    Te has indentificado correctamente!!!
  </div>

  <div class="alert alert-danger" *ngIf="status == 'error' ">
    No te has identificado correctamente !!
  </div>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(LoginForm)" class="col-md-5">
    <p>
      <label for="email">Email</label>
      <input type="email" name="name" #email="ngModel" [(ngModel)]="user.email" required class="form-control">
      <span *ngIf="!email.valid && email.touched">
        El email no es válido
      </span>
    </p>
    <p>
      <label for="password">Contraseña</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required class="form-control">
      <span *ngIf="!password.valid && password.touched">
        El password no es válido
      </span>
    </p>

    <input type="submit" value="Entrar" class="btn btn-primary" [disabled]="!loginForm.valid">
  </form>
</div>
